In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

# importing data sets

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
wt=pd.read_excel('weather1.xlsx',sheet_name='2009')
wt.head()

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,...,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent
0,2009,Jan,1,-3,-6,-9,-16,-17,-19,54,...,1023,1015,16,16,16,37,18,60,0,NaN
1,2009,Jan,2,1,-2,-5,-3,-7,-17,78,...,1012,1007,16,13,2,27,10,48,T,Snow
2,2009,Jan,3,3,1,-2,-5,-9,-13,72,...,1015,1008,16,16,16,27,16,42,T,NaN
3,2009,Jan,4,6,1,-4,-10,-12,-13,55,...,1017,1015,16,16,16,32,12,40,0,NaN
4,2009,Jan,5,6,5,3,-1,-5,-16,62,...,1014,1013,16,16,16,23,11,34,T,NaN

# Creating a class columns

In [4]:
train['class']='train'
test['class']='test'

# Checking null values

In [5]:
train[train['Sales(In ThousandDollars)'].isnull()]

     Year  Month ProductCategory  Sales(In ThousandDollars)  class
45   2010      4   WomenClothing                        NaN  train
47   2010      4   OtherClothing                        NaN  train
58   2010      8     MenClothing                        NaN  train
88   2011      6     MenClothing                        NaN  train
89   2011      6   OtherClothing                        NaN  train
99   2011     10   WomenClothing                        NaN  train
113  2012      2   OtherClothing                        NaN  train
130  2012      8     MenClothing                        NaN  train
132  2012      9   WomenClothing                        NaN  train
173  2013     10   OtherClothing                        NaN  train
197  2014      6   OtherClothing                        NaN  train
205  2014      9     MenClothing                        NaN  train

In [6]:
p=pd.pivot_table(data=train,values='Sales(In ThousandDollars)',index='Year',columns='ProductCategory')

In [7]:
p

ProductCategory  MenClothing  OtherClothing  WomenClothing
Year
2009              612.750000     946.333333    2400.000000
2010              615.272727     978.727273    2983.272727
2011              654.454545    1054.636364    3242.000000
2012              695.727273    1169.727273    3340.818182
2013              722.500000    1220.363636    3596.666667
2014              743.272727    1290.636364    4171.916667

# filling null values with median

In [8]:
table=pd.pivot_table(data=train,values='Sales(In ThousandDollars)',index='Year',columns='ProductCategory',aggfunc='median')

In [9]:
table

ProductCategory  MenClothing  OtherClothing  WomenClothing
Year
2009                   593.0          917.5         2396.0
2010                   598.0          941.0         2919.0
2011                   643.0         1001.0         3245.0
2012                   703.0         1155.0         3168.0
2013                   684.5         1194.0         3638.5
2014                   702.0         1196.0         4245.5

In [10]:
t1=train[(train['Year']==2009) & (train['ProductCategory']=='WomenClothing')]
t2=train[(train['Year']==2010) & (train['ProductCategory']=='WomenClothing')]
t3=train[(train['Year']==2011) & (train['ProductCategory']=='WomenClothing')]
t4=train[(train['Year']==2012) & (train['ProductCategory']=='WomenClothing')]
t5=train[(train['Year']==2013) & (train['ProductCategory']=='WomenClothing')]
t6=train[(train['Year']==2014) & (train['ProductCategory']=='WomenClothing')]
t7=train[(train['Year']==2009) & (train['ProductCategory']=='MenClothing')]
t8=train[(train['Year']==2010) & (train['ProductCategory']=='MenClothing')]
t9=train[(train['Year']==2011) & (train['ProductCategory']=='MenClothing')]
t10=train[(train['Year']==2012) & (train['ProductCategory']=='MenClothing')]
t11=train[(train['Year']==2013) & (train['ProductCategory']=='MenClothing')]
t12=train[(train['Year']==2014) & (train['ProductCategory']=='MenClothing')]
t13=train[(train['Year']==2009) & (train['ProductCategory']=='OtherClothing')]
t14=train[(train['Year']==2010) & (train['ProductCategory']=='OtherClothing')]
t15=train[(train['Year']==2011) & (train['ProductCategory']=='OtherClothing')]
t16=train[(train['Year']==2012) & (train['ProductCategory']=='OtherClothing')]
t17=train[(train['Year']==2013) & (train['ProductCategory']=='OtherClothing')]
t18=train[(train['Year']==2014) & (train['ProductCategory']=='OtherClothing')]

In [11]:
t1.fillna(2396.0,inplace=True)
t2.fillna(2919.0,inplace=True)
t3.fillna(3245.0,inplace=True)
t4.fillna(3168.0,inplace=True)
t5.fillna(3638.5,inplace=True)
t6.fillna(4245.5,inplace=True)
t7.fillna(593.0,inplace=True)
t8.fillna(598.0,inplace=True)
t9.fillna(643.0,inplace=True)
t10.fillna(703.0,inplace=True)
t11.fillna(684.5,inplace=True)
t12.fillna(702.0,inplace=True)
t13.fillna(917.5,inplace=True)
t14.fillna(941.0,inplace=True)
t15.fillna(1001.0,inplace=True)
t16.fillna(1155.0,inplace=True)
t17.fillna(1194.0,inplace=True)
t18.fillna(1196.0,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [12]:
train=pd.concat([t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15,t16,t17,t18])

In [13]:
train.isnull().sum()

Year                         0
Month                        0
ProductCategory              0
Sales(In ThousandDollars)    0
class                        0
dtype: int64

In [14]:
train.shape

(216, 5)

In [15]:
test.shape

(36, 5)

# concating

In [16]:
x=pd.concat([train,test])

In [17]:
wt.isnull().sum()

Year                              0
Month                             0
Day                               0
Temp high (°C)                    0
Temp avg (°C)                     0
Temp low (°C)                     0
Dew Point high (°C)               0
Dew Point avg (°C)                0
Dew Point low (°C)                0
Humidity (%) high                 0
Humidity (%) avg                  0
Humidity (%) low                  0
Sea Level Press. (hPa) high       0
Sea Level Press. (hPa) avg        0
Sea Level Press. (hPa) low        0
Visibility (km) high              0
Visibility (km) avg               0
Visibility (km) low               0
Wind (km/h) low                   0
Wind (km/h) avg                   0
Wind (km/h) high                  0
Precip. (mm) sum                  0
WeatherEvent                   1908
dtype: int64

In [18]:
wt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 23 columns):
Year                           2922 non-null int64
Month                          2922 non-null object
Day                            2922 non-null int64
Temp high (°C)                 2922 non-null object
Temp avg (°C)                  2922 non-null object
Temp low (°C)                  2922 non-null object
Dew Point high (°C)            2922 non-null object
Dew Point avg (°C)             2922 non-null object
Dew Point low (°C)             2922 non-null object
Humidity (%) high              2922 non-null object
Humidity (%) avg               2922 non-null object
Humidity (%) low               2922 non-null object
Sea Level Press. (hPa) high    2922 non-null object
Sea Level Press. (hPa) avg     2922 non-null object
Sea Level Press. (hPa) low     2922 non-null object
Visibility (km) high           2922 non-null object
Visibility (km) avg            2922 non-null object
Visibility (km) low            2922 non-null object
Wind (km/h) low                2922 non-null object
Wind (km/h) avg                2922 non-null object
Wind (km/h) high               2922 non-null object
Precip. (mm) sum               2922 non-null object
WeatherEvent                   1014 non-null object
dtypes: int64(2), object(21)
memory usage: 525.1+ KB

In [19]:
col=[]
i=0
while(i<len(wt.columns)):
    j=wt.columns[i]
    col.append(j.replace('\xa0',' '))
    i=i+1
print(col)

['Year', 'Month', 'Day', 'Temp high (°C)', 'Temp avg (°C)', 'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)', 'Dew Point low (°C)', 'Humidity (%) high', 'Humidity (%) avg', 'Humidity (%) low', 'Sea Level Press. (hPa) high', 'Sea Level Press. (hPa) avg', 'Sea Level Press. (hPa) low', 'Visibility (km) high', 'Visibility (km) avg', 'Visibility (km) low', 'Wind (km/h) low', 'Wind (km/h) avg', 'Wind (km/h) high', 'Precip. (mm) sum', 'WeatherEvent']

In [20]:
wt.columns=col

In [21]:
for c in wt.columns:
    print( "---- %s ---" % c)
    print(wt[c].value_counts())

---- Year ---
2016    366
2012    366
2015    365
2013    365
2011    365
2009    365
2014    365
2010    365
Name: Year, dtype: int64
---- Month ---
Jul    248
Jan    248
Mar    248
May    248
Oct    248
Dec    248
Aug    248
Sep    240
Nov    240
Apr    240
Jun    240
Feb    226
Name: Month, dtype: int64
---- Day ---
1     96
28    96
4     96
6     96
8     96
10    96
12    96
14    96
16    96
18    96
20    96
22    96
24    96
26    96
2     96
3     96
5     96
7     96
9     96
11    96
13    96
15    96
17    96
19    96
21    96
23    96
25    96
27    96
29    90
30    88
31    56
Name: Day, dtype: int64
---- Temp high (°C) ---
28      140
27      124
29      114
22      112
18      110
26      109
23      104
21      100
12       98
31       97
14       96
8        92
17       90
19       89
7        88
24       87
4        86
16       86
13       84
32       83
11       80
6        73
3        70
9        66
2        59
30       54
10       53
1        52
15       50
33       50
-1       44
25       42
20       42
34       35
5        28
0        28
-3       21
-2       20
36       14
-6       12
-4        8
35        7
-7        6
-5        5
38        3
37        2
-9        2
-8        2
-         2
39        1
40        1
high      1
Name: Temp high (°C), dtype: int64
---- Temp avg (°C) ---
24     148
23     125
26     119
22     115
16     110
12     110
19     110
17     110
4      109
8      102
9      100
13      96
21      95
6       92
18      91
11      90
7       90
27      90
14      87
1       85
28      79
2       79
3       74
10      64
25      57
-1      55
-3      55
20      53
-2      49
15      46
-4      38
5       38
29      31
0       29
-7      18
-6      17
30      12
31      11
-9       9
-8       6
-5       6
-10      5
32       5
-11      4
33       2
-        2
34       1
avg      1
-14      1
-12      1
Name: Temp avg (°C), dtype: int64
---- Temp low (°C) ---
18     135
21     128
2      128
19     127
12     120
6      118
22     114
16     106
3      106
8      106
14     103
7      100
17      99
13      98
11      97
4       96
1       91
-1      88
9       87
-2      83
23      80
20      74
10      65
5       64
-4      62
-3      59
24      51
0       42
15      42
-6      40
-7      40
-8      28
-5      24
-9      24
-11     20
26      17
25      13
-13     11
-10      8
27       7
-16      4
-12      4
-14      4
28       3
-        2
-17      1
-18      1
low      1
29       1
Name: Temp low (°C), dtype: int64
---- Dew Point high (°C) ---
18      138
16      132
14      128
21      125
13      124
19      120
22      118
8       101
12       98
17       97
11       96
-1       93
6        92
9        90
-2       89
1        89
2        84
7        80
4        79
3        76
23       75
20       74
-3       72
-6       64
-7       60
10       59
-4       54
5        51
15       50
0        45
-11      36
-5       32
24       31
-8       31
-9       25
-12      23
-10      20
-13      17
-14      10
-16      10
-17       7
25        7
26        4
-15       4
-18       3
-21       3
-         2
-19       1
-22       1
-24       1
high      1
Name: Dew Point high (°C), dtype: int64
---- Dew Point avg (°C) ---
12     132
18     121
16     118
11     113
14     111
17     108
19     103
-1     101
13     101
6      100
-2      98
-4      93
4       91
9       90
7       89
21      87
3       87
8       86
1       84
-3      81
2       77
-6      77
-8      73
-7      57
-9      57
0       54
-12     50
15      48
22      45
-13     43
20      41
-5      40
-11     40
5       39
10      36
-14     30
-16     24
-17     18
23      15
-10     15
-18     15
-19     10
-15      7
-20      3
-22      3
-        2
-21      2
24       2
-24      2
-27      1
-23      1
avg      1
Name: Dew Point avg (°C), dtype: int64
---- Dew Point low (°C) ---
12     116
9      115
13     112
-4     105
11     104
-3      99
8       98
17      95
-8      93
14      93
-2      92
-6      91
1       90
-7      88
16      87
4       83
7       82
6       80
-1      79
2       75
3       74
-9      70
19      66
-11     66
18      60
-16     54
-5      54
-13     53
-12     53
10      51
5       50
-14     44
15      38
-10     37
0       36
-18     35
-17     32
-19     30
-15     30
21      29
-21     20
20      18
-22     12
-20     10
-24      6
-25      5
-27      4
-23      2
-        2
22       2
-28      1
low      1
Name: Dew Point low (°C), dtype: int64
---- Humidity (%) high ---
100     326
93      281
84       97
92       90
70       82
73       76
87       74
64       74
90       68
78       67
89       65
86       63
77       62
97       59
68       57
59       57
76       56
79       56
63       56
72       56
67       53
61       53
82       52
96       51
71       50
58       49
69       47
65       42
74       42
80       42
       ...
55       34
81       33
75       32
57       29
54       28
94       26
50       25
52       22
49       17
47       16
51       13
48       11
45        9
44        9
43        8
42        8
46        8
41        7
88        7
91        3
37        3
36        2
-         2
39        2
40        1
35        1
34        1
32        1
high      1
28        1
Name: Humidity (%) high, Length: 67, dtype: int64
---- Humidity (%) avg ---
54     97
56     82
58     79
48     78
63     75
66     74
50     74
62     74
55     73
52     72
57     71
53     69
61     68
68     66
74     65
71     64
51     63
59     63
65     63
47     63
73     62
60     59
70     59
72     59
67     58
49     58
46     58
77     54
69     52
42     51
       ..
89     23
39     23
38     23
85     21
88     21
86     21
90     20
87     20
36     18
35     14
92     14
34     13
91     13
93     12
97     10
95      9
33      9
31      9
94      7
27      5
32      5
30      3
29      3
23      2
-       2
26      2
avg     1
28      1
96      1
20      1
Name: Humidity (%) avg, Length: 76, dtype: int64
---- Humidity (%) low ---
34     94
38     91
44     87
40     86
36     85
37     82
39     82
45     80
33     80
35     79
31     74
41     73
32     73
42     72
47     69
43     69
51     67
46     66
29     61
48     60
28     58
52     56
30     54
49     53
27     50
53     47
54     43
25     42
24     41
57     40
       ..
73     17
84     16
74     14
69     14
72     14
82     13
18     13
86     13
71     13
76     10
93     10
15      9
87      9
83      8
77      7
75      6
89      6
16      6
80      5
90      5
85      5
14      5
81      4
12      3
11      2
-       2
low     1
13      1
92      1
9       1
Name: Humidity (%) low, Length: 84, dtype: int64
---- Sea Level Press. (hPa) high ---
1020    172
1021    171
1016    171
1017    166
1019    161
1022    161
1023    147
1014    146
1015    143
1024    127
1025    117
1013    110
1026    106
1012    104
1027     97
1018     97
1028     75
1011     72
1029     67
1030     62
1010     52
1032     41
1031     41
1009     40
1008     38
1007     29
1033     25
1006     21
1035     19
-        19
1034     18
1005     16
1036     14
1004     13
1003     11
1038     11
1037     11
1039      5
1041      4
1000      3
1001      3
1002      3
1040      3
1044      2
1042      1
1043      1
high      1
994       1
995       1
998       1
999       1
996       1
Name: Sea Level Press. (hPa) high, dtype: int64
---- Sea Level Press. (hPa) avg ---
1016    166
1014    165
1012    164
1015    161
1019    156
1017    148
1013    148
1020    142
1011    137
1022    131
1021    129
1018    119
1023    108
1010    103
1009     93
1025     79
1024     71
1008     69
1007     62
1026     57
1006     56
1027     51
1005     46
1028     42
1029     33
1004     30
1030     29
1031     28
1002     27
1003     23
1000     21
-        19
1033     14
1001     13
1032     13
999       9
1036      8
994       6
998       6
1035      5
1037      4
997       4
1034      4
996       4
993       4
1038      3
992       2
1041      2
avg       1
989       1
991       1
990       1
988       1
987       1
1040      1
980       1
Name: Sea Level Press. (hPa) avg, dtype: int64
---- Sea Level Press. (hPa) low ---
1013    174
1011    170
1012    168
1015    161
1014    148
1009    147
1016    143
1010    143
1020    126
1019    121
1008    120
1017    104
1007     97
1006     94
1021     87
1018     82
1004     73
1023     71
1005     66
1022     60
1003     55
1024     49
1025     47
1002     42
1001     41
1026     32
1027     29
1000     28
999      27
998      27
-        19
997      18
1028     17
1029     17
994      15
996      14
993       9
995       9
1030      8
1032      8
989       8
1031      6
992       5
1033      4
983       4
991       4
986       3
987       3
988       3
1036      2
990       2
1034      2
1037      2
966       2
1035      1
984       1
low       1
978       1
982       1
980       1
Name: Sea Level Press. (hPa) low, dtype: int64
---- Visibility (km) high ---
16      2794
14        52
-         28
13        25
11        13
10         7
8          2
high       1
Name: Visibility (km) high, dtype: int64
---- Visibility (km) avg ---
16     1619
15      238
14      204
13      124
9       115
10      113
12      106
11       90
8        83
7        81
6        65
5        38
-        28
4        10
3         5
2         1
avg       1
1         1
Name: Visibility (km) avg, dtype: int64
---- Visibility (km) low ---
16     1274
1       240
2       201
3       185
14      179
13      135
11      130
0       121
6       106
10      105
8        87
4        78
5        52
-        28
low       1
Name: Visibility (km) low, dtype: int64
---- Wind (km/h) low ---
21     377
19     360
23     316
16     302
24     293
26     242
27     214
14     185
29     138
32      98
34      94
13      80
35      57
37      37
11      26
40      20
-       20
39      19
42       9
10       8
48       6
47       5
45       4
50       2
52       2
8        2
low      1
60       1
61       1
121      1
159      1
6        1
Name: Wind (km/h) low, dtype: int64
---- Wind (km/h) avg ---
7      338
8      335
9      328
6      296
5      268
10     226
11     191
4      150
12     150
13     119
14     119
3       76
15      60
16      56
17      47
18      33
19      28
2       22
-       20
20      20
22       8
23       7
21       5
24       4
1        4
0        3
25       3
26       1
28       1
30       1
37       1
159      1
avg      1
Name: Wind (km/h) avg, dtype: int64
---- Wind (km/h) high ---
35      229
27      208
32      206
29      194
37      189
26      188
34      159
40      150
39      141
42      127
31      120
24      115
23      107
45       90
48       76
47       65
21       59
-        59
50       57
52       51
43       49
53       41
19       34
56       32
58       30
55       22
60       17
64       16
61       14
63       14
18       12
69       11
66       10
16        8
71        4
72        3
14        3
68        2
74        2
high      1
76        1
77        1
85        1
97        1
100       1
159       1
11        1
Name: Wind (km/h) high, dtype: int64
---- Precip. (mm) sum ---
0         1754
T          205
0.25        86
0.51        57
0.76        45
1.02        38
1.27        36
1.52        36
2.29        27
1.78        22
4.83        19
3.3         16
4.06        15
2.79        15
3.56        14
2.03        14
3.81        13
3.05        12
6.35        11
8.89        10
5.59        10
4.57        10
8.38        10
7.37        10
7.62        10
11.43       10
12.7        10
6.1          9
9.91         8
6.6          8
          ...
58.67        1
29.46        1
18.8         1
34.8         1
32.26        1
33.53        1
76.71        1
81.79        1
98.04        1
101.35       1
105.66       1
36.83        1
45.72        1
25.15        1
126.24       1
14.99        1
20.83        1
55.37        1
sum          1
-            1
36.32        1
21.84        1
21.08        1
23.88        1
29.97        1
27.94        1
28.7         1
46.23        1
147.57       1
39.37        1
Name: Precip. (mm) sum, Length: 179, dtype: int64
---- WeatherEvent ---
Rain                 685
Fog , Rain           156
Snow                  72
Fog , Snow            39
Rain , Snow           27
Fog , Rain , Snow     22
Fog                   12
Thunderstorm           1
Name: WeatherEvent, dtype: int64

In [22]:
print(wt.loc[wt['Wind (km/h) high'] == 'high'])

      Year Month  Day Temp high (°C) Temp avg (°C) Temp low (°C)  \
1826  2014   Jan    1           high           avg           low

     Dew Point high (°C) Dew Point avg (°C) Dew Point low (°C)  \
1826                high                avg                low

     Humidity (%) high  ... Sea Level Press. (hPa) avg  \
1826              high  ...                        avg

     Sea Level Press. (hPa) low Visibility (km) high Visibility (km) avg  \
1826                        low                 high                 avg

     Visibility (km) low Wind (km/h) low Wind (km/h) avg Wind (km/h) high  \
1826                 low             low             avg             high

     Precip. (mm) sum WeatherEvent
1826              sum          NaN

[1 rows x 23 columns]

In [23]:
wt.drop(wt.index[1826],inplace=True)

In [24]:
print(wt.loc[wt['Wind (km/h) high'] == 'high'])

Empty DataFrame
Columns: [Year, Month, Day, Temp high (°C), Temp avg (°C), Temp low (°C), Dew Point high (°C), Dew Point avg (°C), Dew Point low (°C), Humidity (%) high, Humidity (%) avg, Humidity (%) low, Sea Level Press. (hPa) high, Sea Level Press. (hPa) avg, Sea Level Press. (hPa) low, Visibility (km) high, Visibility (km) avg, Visibility (km) low, Wind (km/h) low, Wind (km/h) avg, Wind (km/h) high, Precip. (mm) sum, WeatherEvent]
Index: []

[0 rows x 23 columns]

In [25]:
for i in wt.columns:
    wt[i]=wt[i].replace('-',np.nan)

In [26]:
wt.shape

(2921, 23)

In [27]:
wt['Temp high (°C)'].isnull().sum()

2

In [28]:
wt['Month']=wt['Month'].replace({'Jan':1,'Feb':2,'Mar':3,'Apr':4,'May':5,'Jun':6,'Jul':7,'Aug':8,
                                'Sep':9,'Oct':10,'Nov':11,'Dec':12})

In [29]:
wt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2921 entries, 0 to 2921
Data columns (total 23 columns):
Year                           2921 non-null int64
Month                          2921 non-null int64
Day                            2921 non-null int64
Temp high (°C)                 2919 non-null float64
Temp avg (°C)                  2919 non-null float64
Temp low (°C)                  2919 non-null float64
Dew Point high (°C)            2919 non-null float64
Dew Point avg (°C)             2919 non-null float64
Dew Point low (°C)             2919 non-null float64
Humidity (%) high              2919 non-null float64
Humidity (%) avg               2919 non-null float64
Humidity (%) low               2919 non-null float64
Sea Level Press. (hPa) high    2902 non-null float64
Sea Level Press. (hPa) avg     2902 non-null float64
Sea Level Press. (hPa) low     2902 non-null float64
Visibility (km) high           2893 non-null float64
Visibility (km) avg            2893 non-null float64
Visibility (km) low            2893 non-null float64
Wind (km/h) low                2901 non-null float64
Wind (km/h) avg                2901 non-null float64
Wind (km/h) high               2862 non-null float64
Precip. (mm) sum               2920 non-null object
WeatherEvent                   1014 non-null object
dtypes: float64(18), int64(3), object(2)
memory usage: 547.7+ KB

In [30]:
table=pd.pivot_table(data=wt,values=['Sea Level Press. (hPa) high','Sea Level Press. (hPa) avg','Sea Level Press. (hPa) low',
       'Visibility (km) high', 'Visibility (km) avg', 'Visibility (km) low',
       'Wind (km/h) low', 'Wind (km/h) avg','Wind (km/h) high'],index='Year',aggfunc='median')

In [31]:
table

,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) high,Sea Level Press. (hPa) low,Visibility (km) avg,Visibility (km) high,Visibility (km) low,Wind (km/h) avg,Wind (km/h) high,Wind (km/h) low
Year,,,,,,,,,
2009,1016.0,1021.0,1013.0,16.0,16.0,14.0,9.0,35.0,24.0
2010,1014.0,1016.0,1011.0,16.0,16.0,16.0,9.0,35.0,23.0
2011,1015.0,1019.0,1012.0,16.0,16.0,11.0,9.0,34.0,23.0
2012,1016.0,1020.0,1013.0,16.0,16.0,13.0,8.0,34.0,21.0
2013,1017.0,1021.0,1014.0,16.0,16.0,13.0,8.0,35.0,23.0
2014,1016.0,1020.0,1013.0,16.0,16.0,14.0,8.0,35.0,21.0
2015,1017.0,1021.0,1014.0,16.0,16.0,13.5,8.0,35.0,23.0
2016,1017.0,1020.0,1013.0,15.0,16.0,13.0,8.0,35.0,23.0

In [32]:
wt['Sea Level Press. (hPa) high'].fillna(1019,inplace=True)
wt['Sea Level Press. (hPa) avg'].fillna(1015,inplace=True)
wt['Sea Level Press. (hPa) low'].fillna(1013,inplace=True)
wt['Visibility (km) avg'].fillna(9,inplace=True)
wt['Visibility (km) high'].fillna(16,inplace=True)
wt['Visibility (km) low'].fillna(14,inplace=True)
wt['Wind (km/h) low'].fillna(23,inplace=True)
wt['Wind (km/h) avg'].fillna(9,inplace=True)
wt['Wind (km/h) high'].fillna(35,inplace=True)

In [33]:
wt.drop('WeatherEvent',axis=1,inplace=True)

In [34]:
wt.columns

Index(['Year', 'Month', 'Day', 'Temp high (°C)', 'Temp avg (°C)',
       'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)',
       'Dew Point low (°C)', 'Humidity (%) high', 'Humidity (%) avg',
       'Humidity (%) low', 'Sea Level Press. (hPa) high',
       'Sea Level Press. (hPa) avg', 'Sea Level Press. (hPa) low',
       'Visibility (km) high', 'Visibility (km) avg', 'Visibility (km) low',
       'Wind (km/h) low', 'Wind (km/h) avg', 'Wind (km/h) high',
       'Precip. (mm) sum'],
      dtype='object')

In [35]:
wt.shape

(2921, 22)

In [36]:
dw=wt.dropna()

In [37]:
dw.shape

(2919, 22)

In [38]:
dw['Precip. (mm) sum'].value_counts()

0         1753
T          205
0.25        86
0.51        57
0.76        45
1.02        38
1.27        36
1.52        36
2.29        27
1.78        22
4.83        19
3.3         16
4.06        15
2.79        15
3.56        14
2.03        14
3.81        13
3.05        12
6.35        11
4.57        10
11.43       10
12.7        10
7.62        10
8.38        10
8.89        10
7.37        10
5.59        10
6.1          9
8.13         8
18.54        8
          ...
58.67        1
29.46        1
32.51        1
34.8         1
64.52        1
32.26        1
66.29        1
76.71        1
81.79        1
98.04        1
101.35       1
105.66       1
36.83        1
45.72        1
25.15        1
126.24       1
14.99        1
55.37        1
39.37        1
36.32        1
21.84        1
21.08        1
23.88        1
29.97        1
27.94        1
28.7         1
46.23        1
147.57       1
33.53        1
20.83        1
Name: Precip. (mm) sum, Length: 177, dtype: int64

In [39]:
dw['Precip. (mm) sum'].replace('T',0,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [40]:
dw['Precip. (mm) sum'].value_counts()

0.00      1958
0.25        86
0.51        57
0.76        45
1.02        38
1.52        36
1.27        36
2.29        27
1.78        22
4.83        19
3.30        16
4.06        15
2.79        15
3.56        14
2.03        14
3.81        13
3.05        12
6.35        11
8.89        10
8.38        10
5.59        10
7.62        10
12.70       10
11.43       10
7.37        10
4.57        10
6.10         9
15.49        8
6.60         8
9.91         8
          ...
55.88        1
18.80        1
45.72        1
39.62        1
105.66       1
44.70        1
37.08        1
32.51        1
38.35        1
53.09        1
41.91        1
26.92        1
81.79        1
76.71        1
66.29        1
34.80        1
36.32        1
17.27        1
21.08        1
126.24       1
42.93        1
24.38        1
29.46        1
16.51        1
36.83        1
42.67        1
21.84        1
20.57        1
49.53        1
25.15        1
Name: Precip. (mm) sum, Length: 176, dtype: int64

In [41]:
dw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 2921
Data columns (total 22 columns):
Year                           2919 non-null int64
Month                          2919 non-null int64
Day                            2919 non-null int64
Temp high (°C)                 2919 non-null float64
Temp avg (°C)                  2919 non-null float64
Temp low (°C)                  2919 non-null float64
Dew Point high (°C)            2919 non-null float64
Dew Point avg (°C)             2919 non-null float64
Dew Point low (°C)             2919 non-null float64
Humidity (%) high              2919 non-null float64
Humidity (%) avg               2919 non-null float64
Humidity (%) low               2919 non-null float64
Sea Level Press. (hPa) high    2919 non-null float64
Sea Level Press. (hPa) avg     2919 non-null float64
Sea Level Press. (hPa) low     2919 non-null float64
Visibility (km) high           2919 non-null float64
Visibility (km) avg            2919 non-null float64
Visibility (km) low            2919 non-null float64
Wind (km/h) low                2919 non-null float64
Wind (km/h) avg                2919 non-null float64
Wind (km/h) high               2919 non-null float64
Precip. (mm) sum               2919 non-null float64
dtypes: float64(19), int64(3)
memory usage: 524.5 KB

In [42]:
aggfuncs = {'Temp high (°C)': 'max', 'Temp avg (°C)': 'mean', 'Temp low (°C)': 'min',
           'Dew Point high (°C)': 'max', 'Dew Point avg (°C)': 'mean', 'Dew Point low (°C)':'min',
           'Humidity (%) high': 'max', 'Humidity (%) avg': 'mean', 'Humidity (%) low':'min',
           'Sea Level Press. (hPa) high': 'max','Sea Level Press. (hPa) avg': 'mean', 'Sea Level Press. (hPa) low': 'min',
            'Visibility (km) high': 'max', 'Visibility (km) avg':'mean', 'Visibility (km) low':'min',
            'Wind (km/h) low':'min', 'Wind (km/h) avg':'mean', 'Wind (km/h) high':'max','Precip. (mm) sum':'sum'}
weather_monthly = dw.groupby(['Year','Month']).agg(aggfuncs).reset_index()
weather_monthly.head()

,Year,Month,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,...,Sea Level Press. (hPa) high,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum
0,2009,1,8.0,-2.096774,-14.0,4.0,-9.903226,-22.0,100.0,57.354839,...,1036.0,1015.967742,986.0,16.0,14.000000,0.0,14.0,12.000000,60.0,75.70
1,2009,2,18.0,2.785714,-11.0,11.0,-6.392857,-19.0,100.0,54.000000,...,1032.0,1017.071429,992.0,16.0,15.178571,0.0,19.0,12.214286,77.0,21.85
2,2009,3,21.0,5.967742,-11.0,11.0,-2.903226,-21.0,100.0,57.064516,...,1036.0,1021.064516,993.0,16.0,14.258065,0.0,16.0,11.387097,58.0,44.45
3,2009,4,33.0,12.733333,1.0,14.0,2.533333,-12.0,100.0,55.700000,...,1033.0,1014.533333,987.0,16.0,14.066667,0.0,19.0,11.366667,61.0,119.12
4,2009,5,30.0,17.000000,6.0,19.0,10.096774,-2.0,100.0,68.516129,...,1031.0,1017.161290,1000.0,16.0,12.451613,0.0,10.0,8.064516,53.0,131.30

In [43]:
weather_monthly.shape

(96, 21)

In [44]:
m1=pd.merge(x,weather_monthly)

In [181]:
m1

,Month,ProductCategory,Sales(In ThousandDollars),class,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),...,Sea Level Press. (hPa) high,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum
0,1,WomenClothing,1755.0,train,8.0,-2.096774,-14.0,4.0,-9.903226,-22.0,...,1036.0,1015.967742,986.0,16.0,14.000000,0.0,14.0,12.000000,60.0,75.70
1,1,MenClothing,524.0,train,8.0,-2.096774,-14.0,4.0,-9.903226,-22.0,...,1036.0,1015.967742,986.0,16.0,14.000000,0.0,14.0,12.000000,60.0,75.70
2,1,OtherClothing,936.0,train,8.0,-2.096774,-14.0,4.0,-9.903226,-22.0,...,1036.0,1015.967742,986.0,16.0,14.000000,0.0,14.0,12.000000,60.0,75.70
3,2,WomenClothing,1729.0,train,18.0,2.785714,-11.0,11.0,-6.392857,-19.0,...,1032.0,1017.071429,992.0,16.0,15.178571,0.0,19.0,12.214286,77.0,21.85
4,2,MenClothing,496.0,train,18.0,2.785714,-11.0,11.0,-6.392857,-19.0,...,1032.0,1017.071429,992.0,16.0,15.178571,0.0,19.0,12.214286,77.0,21.85
5,2,OtherClothing,859.0,train,18.0,2.785714,-11.0,11.0,-6.392857,-19.0,...,1032.0,1017.071429,992.0,16.0,15.178571,0.0,19.0,12.214286,77.0,21.85
6,3,WomenClothing,2256.0,train,21.0,5.967742,-11.0,11.0,-2.903226,-21.0,...,1036.0,1021.064516,993.0,16.0,14.258065,0.0,16.0,11.387097,58.0,44.45
7,3,MenClothing,542.0,train,21.0,5.967742,-11.0,11.0,-2.903226,-21.0,...,1036.0,1021.064516,993.0,16.0,14.258065,0.0,16.0,11.387097,58.0,44.45
8,3,OtherClothing,921.0,train,21.0,5.967742,-11.0,11.0,-2.903226,-21.0,...,1036.0,1021.064516,993.0,16.0,14.258065,0.0,16.0,11.387097,58.0,44.45
9,4,WomenClothing,2662.0,train,33.0,12.733333,1.0,14.0,2.533333,-12.0,...,1033.0,1014.533333,987.0,16.0,14.066667,0.0,19.0,11.366667,61.0,119.12
10,4,MenClothing,669.0,train,33.0,12.733333,1.0,14.0,2.533333,-12.0,...,1033.0,1014.533333,987.0,16.0,14.066667,0.0,19.0,11.366667,61.0,119.12
11,4,OtherClothing,914.0,train,33.0,12.733333,1.0,14.0,2.533333,-12.0,...,1033.0,1014.533333,987.0,16.0,14.066667,0.0,19.0,11.366667,61.0,119.12
12,5,WomenClothing,2732.0,train,30.0,17.000000,6.0,19.0,10.096774,-2.0,...,1031.0,1017.161290,1000.0,16.0,12.451613,0.0,10.0,8.064516,53.0,131.30
13,5,MenClothing,650.0,train,30.0,17.000000,6.0,19.0,10.096774,-2.0,...,1031.0,1017.161290,1000.0,16.0,12.451613,0.0,10.0,8.064516,53.0,131.30
14,5,OtherClothing,989.0,train,30.0,17.000000,6.0,19.0,10.096774,-2.0,...,1031.0,1017.161290,1000.0,16.0,12.451613,0.0,10.0,8.064516,53.0,131.30
15,6,WomenClothing,2220.0,train,29.0,19.866667,10.0,21.0,15.366667,-1.0,...,1025.0,1011.166667,997.0,16.0,11.833333,0.0,13.0,7.433333,53.0,255.51
16,6,MenClothing,607.0,train,29.0,19.866667,10.0,21.0,15.366667,-1.0,...,1025.0,1011.166667,997.0,16.0,11.833333,0.0,13.0,7.433333,53.0,255.51
17,6,OtherClothing,932.0,train,29.0,19.866667,10.0,21.0,15.366667,-1.0,...,1025.0,1011.166667,997.0,16.0,11.833333,0.0,13.0,7.433333,53.0,255.51
18,7,WomenClothing,2164.0,train,30.0,22.741935,14.0,24.0,16.451613,7.0,...,1027.0,1013.580645,1004.0,16.0,12.935484,0.0,14.0,7.903226,48.0,180.60
19,7,MenClothing,575.0,train,30.0,22.741935,14.0,24.0,16.451613,7.0,...,1027.0,1013.580645,1004.0,16.0,12.935484,0.0,14.0,7.903226,48.0,180.60
20,7,OtherClothing,901.0,train,30.0,22.741935,14.0,24.0,16.451613,7.0,...,1027.0,1013.580645,1004.0,16.0,12.935484,0.0,14.0,7.903226,48.0,180.60
21,8,WomenClothing,2371.0,train,33.0,24.387097,17.0,25.0,18.483871,8.0,...,1025.0,1015.967742,1006.0,16.0,14.483871,0.0,13.0,6.806452,64.0,107.44
22,8,MenClothing,551.0,train,33.0,24.387097,17.0,25.0,18.483871,8.0,...,1025.0,1015.967742,1006.0,16.0,14.483871,0.0,13.0,6.806452,64.0,107.44
23,8,OtherClothing,865.0,train,33.0,24.387097,17.0,25.0,18.483871,8.0,...,1025.0,1015.967742,1006.0,16.0,14.483871,0.0,13.0,6.806452,64.0,107.44
24,9,WomenClothing,2421.0,train,29.0,19.233333,9.0,21.0,12.766667,3.0,...,1030.0,1018.700000,997.0,16.0,15.033333,1.0,14.0,9.266667,61.0,57.40
25,9,MenClothing,579.0,train,29.0,19.233333,9.0,21.0,12.766667,3.0,...,1030.0,1018.700000,997.0,16.0,15.033333,1.0,14.0,9.266667,61.0,57.40
26,9,OtherClothing,819.0,train,29.0,19.233333,9.0,21.0,12.766667,3.0,...,1030.0,1018.700000,997.0,16.0,15.033333,1.0,14.0,9.266667,61.0,57.40
27,10,WomenClothing,2579.0,train,23.0,12.870968,3.0,19.0,7.032258,-3.0,...,1030.0,1016.774194,998.0,16.0,14.064516,1.0,11.0,9.677419,71.0,141.74
28,10,MenClothing,610.0,train,23.0,12.870968,3.0,19.0,7.032258,-3.0,...,1030.0,1016.774194,998.0,16.0,14.064516,1.0,11.0,9.677419,71.0,141.74
29,10,OtherClothing,914.0,train,23.0,12.870968,3.0,19.0,7.032258,-3.0,...,1030.0,1016.774194,998.0,16.0,14.064516,1.0,11.0,9.677419,71.0,141.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,3,WomenClothing,NaN,test,17.0,3.516129,-11.0,14.0,-6.096774,-21.0,...,1040.0,1019.032258,1001.0,16.0,12.935484,0.0,19.0,9.838710,71.0,119.88
223,3,MenClothing,NaN,test,17.0,3.516129,-11.0,14.0,-6.096774,-21.0,...,1040.0,1019.032258,1001.0,16.0,12.935484,0.0,19.0,9.838710,71.0,119.88
224,3,OtherClothing,NaN,test,17.0,3.516129,-11.0,14.0,-6.096774,-21.0,...,1040.0,1019.032258,1001.0,16.0,12.935484,0.0,19.0,9.838710,71.0,119.88
225,4,WomenClothing,NaN,test,27.0,12.533333,0.0,13.0,0.800000,-13.0,...,1032.0,1015.133333,998.0,16.0,14.700000,1.0,19.0,10.433333,66.0,52.83
226,4,MenClothing,NaN,test,27.0,12.533333,0.0,13.0,0.800000,-13.0,...,1032.0,1015.133333,998.0,16.0,14.700000,1.0,19.0,10.433333,66.0,52.83
227,4,OtherClothing,NaN,test,27.0,12.533333,0.0,13.0,0.800000,-13.0,...,1032.0,1015.133333,998.0,16.0,14.700000,1.0,19.0,10.433333,66.0,52.83
228,5,WomenClothing,NaN,test,31.0,20.483871,9.0,22.0,9.870968,-6.0,...,1030.0,1020.290323,1007.0,16.0,14.032258,0.0,11.0,6.806452,47.0,47.24
229,5,MenClothing,NaN,test,31.0,20.483871,9.0,22.0,9.870968,-6.0,...,1030.0,1020.290323,1007.0,16.0,14.032258,0.0,11.0,6.806452,47.0,47.24
230,5,OtherClothing,NaN,test,31.0,20.483871,9.0,22.0,9.870968,-6.0,...,1030.0,1020.290323,1007.0,16.0,14.032258,0.0,11.0,6.806452,47.0,47.24
231,6,WomenClothing,NaN,test,32.0,21.866667,10.0,23.0,14.300000,-1.0,...,1026.0,1014.866667,1003.0,16.0,13.100000,1.0,13.0,7.533333,47.0,120.66
232,6,MenClothing,NaN,test,32.0,21.866667,10.0,23.0,14.300000,-1.0,...,1026.0,1014.866667,1003.0,16.0,13.100000,1.0,13.0,7.533333,47.0,120.66
233,6,OtherClothing,NaN,test,32.0,21.866667,10.0,23.0,14.300000,-1.0,...,1026.0,1014.866667,1003.0,16.0,13.100000,1.0,13.0,7.533333,47.0,120.66
234,7,WomenClothing,NaN,test,36.0,26.129032,18.0,25.0,16.548387,7.0,...,1022.0,1012.741935,1001.0,16.0,14.161290,0.0,11.0,5.483871,50.0,101.10
235,7,MenClothing,NaN,test,36.0,26.129032,18.0,25.0,16.548387,7.0,...,1022.0,1012.741935,1001.0,16.0,14.161290,0.0,11.0,5.483871,50.0,101.10
236,7,OtherClothing,NaN,test,36.0,26.129032,18.0,25.0,16.548387,7.0,...,1022.0,1012.741935,1001.0,16.0,14.161290,0.0,11.0,5.483871,50.0,101.10
237,8,WomenClothing,NaN,test,35.0,26.322581,17.0,23.0,15.290323,8.0,...,1023.0,1015.225806,1007.0,16.0,15.354839,1.0,13.0,5.903226,58.0,59.69
238,8,MenClothing,NaN,test,35.0,26.322581,17.0,23.0,15.290323,8.0,...,1023.0,1015.225806,1007.0,16.0,15.354839,1.0,13.0,5.903226,58.0,59.69
239,8,OtherClothing,NaN,test,35.0,26.322581,17.0,23.0,15.290323,8.0,...,1023.0,1015.225806,1007.0,16.0,15.354839,1.0,13.0,5.903226,58.0,59.69
240,9,WomenClothing,NaN,test,36.0,23.700000,13.0,22.0,14.400000,4.0,...,1032.0,1018.300000,1004.0,16.0,14.766667,1.0,11.0,7.033333,43.0,83.31
241,9,MenClothing,NaN,test,36.0,23.700000,13.0,22.0,14.400000,4.0,...,1032.0,1018.300000,1004.0,16.0,14.766667,1.0,11.0,7.033333,43.0,83.31
242,9,OtherClothing,NaN,test,36.0,23.700000,13.0,22.0,14.400000,4.0,...,1032.0,1018.300000,1004.0,16.0,14.766667,1.0,11.0,7.033333,43.0,83.31
243,10,WomenClothing,NaN,test,26.0,14.483871,2.0,19.0,5.516129,-9.0,...,1035.0,1018.935484,1000.0,16.0,15.161290,1.0,13.0,8.451613,52.0,99.32
244,10,MenClothing,NaN,test,26.0,14.483871,2.0,19.0,5.516129,-9.0,...,1035.0,1018.935484,1000.0,16.0,15.161290,1.0,13.0,8.451613,52.0,99.32
245,10,OtherClothing,NaN,test,26.0,14.483871,2.0,19.0,5.516129,-9.0,...,1035.0,1018.935484,1000.0,16.0,15.161290,1.0,13.0,8.451613,52.0,99.32
246,11,WomenClothing,NaN,test,23.0,11.633333,0.0,17.0,3.566667,-14.0,...,1044.0,1021.566667,1000.0,16.0,14.233333,2.0,13.0,7.900000,58.0,51.04
247,11,MenClothing,NaN,test,23.0,11.633333,0.0,17.0,3.566667,-14.0,...,1044.0,1021.566667,1000.0,16.0,14.233333,2.0,13.0,7.900000,58.0,51.04
248,11,OtherClothing,NaN,test,23.0,11.633333,0.0,17.0,3.566667,-14.0,...,1044.0,1021.566667,1000.0,16.0,14.233333,2.0,13.0,7.900000,58.0,51.04
249,12,WomenClothing,NaN,test,22.0,10.548387,1.0,18.0,4.096774,-11.0,...,1039.0,1019.193548,994.0,16.0,11.258065,1.0,13.0,8.451613,55.0,119.89
250,12,MenClothing,NaN,test,22.0,10.548387,1.0,18.0,4.096774,-11.0,...,1039.0,1019.193548,994.0,16.0,11.258065,1.0,13.0,8.451613,55.0,119.89
251,12,OtherClothing,NaN,test,22.0,10.548387,1.0,18.0,4.096774,-11.0,...,1039.0,1019.193548,994.0,16.0,11.258065,1.0,13.0,8.451613,55.0,119.89

In [45]:
m1.drop('Year',axis=1,inplace=True)

In [46]:
m1.shape

(252, 23)

In [47]:
m1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252 entries, 0 to 251
Data columns (total 23 columns):
Month                          252 non-null int64
ProductCategory                252 non-null object
Sales(In ThousandDollars)      216 non-null float64
class                          252 non-null object
Temp high (°C)                 252 non-null float64
Temp avg (°C)                  252 non-null float64
Temp low (°C)                  252 non-null float64
Dew Point high (°C)            252 non-null float64
Dew Point avg (°C)             252 non-null float64
Dew Point low (°C)             252 non-null float64
Humidity (%) high              252 non-null float64
Humidity (%) avg               252 non-null float64
Humidity (%) low               252 non-null float64
Sea Level Press. (hPa) high    252 non-null float64
Sea Level Press. (hPa) avg     252 non-null float64
Sea Level Press. (hPa) low     252 non-null float64
Visibility (km) high           252 non-null float64
Visibility (km) avg            252 non-null float64
Visibility (km) low            252 non-null float64
Wind (km/h) low                252 non-null float64
Wind (km/h) avg                252 non-null float64
Wind (km/h) high               252 non-null float64
Precip. (mm) sum               252 non-null float64
dtypes: float64(20), int64(1), object(2)
memory usage: 47.2+ KB

In [48]:
D=pd.get_dummies(m1,columns=['ProductCategory'],drop_first=True)

In [49]:
D.shape

(252, 24)

In [50]:
train=D[D['class']=='train']
test=D[D['class']=='test']

In [51]:
del train['class']

In [52]:
train.shape

(216, 23)

In [53]:
del test['class']

In [54]:
test.shape

(36, 23)

In [55]:
test.drop('Sales(In ThousandDollars)',axis=1,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [56]:
test.shape

(36, 22)

In [57]:
train.isnull().sum()

Month                            0
Sales(In ThousandDollars)        0
Temp high (°C)                   0
Temp avg (°C)                    0
Temp low (°C)                    0
Dew Point high (°C)              0
Dew Point avg (°C)               0
Dew Point low (°C)               0
Humidity (%) high                0
Humidity (%) avg                 0
Humidity (%) low                 0
Sea Level Press. (hPa) high      0
Sea Level Press. (hPa) avg       0
Sea Level Press. (hPa) low       0
Visibility (km) high             0
Visibility (km) avg              0
Visibility (km) low              0
Wind (km/h) low                  0
Wind (km/h) avg                  0
Wind (km/h) high                 0
Precip. (mm) sum                 0
ProductCategory_OtherClothing    0
ProductCategory_WomenClothing    0
dtype: int64

# Seperating the dataset into independent and dependent variables

In [58]:
X=train.drop('Sales(In ThousandDollars)',axis=1)
y=train['Sales(In ThousandDollars)']

# Linear Regression

In [59]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
lm=LinearRegression()

In [60]:
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.3,random_state=1)

In [61]:
lm.fit(Xtrain,ytrain)
ypred=lm.predict(Xtest)

In [62]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(ytest,ypred)

In [63]:
rmse=np.sqrt(mse)

In [64]:
rmse

382.168151258312

In [65]:
#Test_pred=lm.predict(test)
#testdf=pd.DataFrame({'S.No.':np.arange(1,37),'Sales':Test_pred})

In [75]:
#testdf.to_csv('bhanu.csv',index=True)

In [66]:
import statsmodels.api as sm
xtrain_sm=Xtrain
xtrain_sm=sm.add_constant(xtrain_sm)
lm1=sm.OLS(ytrain,xtrain_sm).fit()
lm1.params

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

Month                              66.555655
Temp high (°C)                     -4.402560
Temp avg (°C)                     102.400942
Temp low (°C)                      41.191987
Dew Point high (°C)                13.631939
Dew Point avg (°C)               -142.030015
Dew Point low (°C)                -20.560902
Humidity (%) high                 -24.539177
Humidity (%) avg                   14.203312
Humidity (%) low                    5.359541
Sea Level Press. (hPa) high        28.075590
Sea Level Press. (hPa) avg         -7.705856
Sea Level Press. (hPa) low          5.591906
Visibility (km) high            -1471.168470
Visibility (km) avg              -169.330788
Visibility (km) low                22.541225
Wind (km/h) low                    21.651822
Wind (km/h) avg                   -66.694666
Wind (km/h) high                    2.418194
Precip. (mm) sum                    0.244416
ProductCategory_OtherClothing     460.864165
ProductCategory_WomenClothing    2576.902466
dtype: float64

In [67]:
lm1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                OLS Regression Results
=====================================================================================
Dep. Variable:     Sales(In ThousandDollars)   R-squared:                       0.908
Model:                                   OLS   Adj. R-squared:                  0.892
Method:                        Least Squares   F-statistic:                     60.28
Date:                       Thu, 19 Sep 2019   Prob (F-statistic):           2.35e-56
Time:                               09:21:08   Log-Likelihood:                -1107.3
No. Observations:                        151   AIC:                             2259.
Df Residuals:                            129   BIC:                             2325.
Df Model:                                 21
Covariance Type:                   nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Month                            66.5557     18.278      3.641      0.000      30.393     102.719
Temp high (°C)                   -4.4026     19.253     -0.229      0.819     -42.495      33.690
Temp avg (°C)                   102.4009    151.601      0.675      0.501    -197.546     402.348
Temp low (°C)                    41.1920     27.708      1.487      0.140     -13.630      96.014
Dew Point high (°C)              13.6319     20.663      0.660      0.511     -27.250      54.514
Dew Point avg (°C)             -142.0300    155.758     -0.912      0.364    -450.202     166.142
Dew Point low (°C)              -20.5609     19.590     -1.050      0.296     -59.321      18.199
Humidity (%) high               -24.5392     20.588     -1.192      0.235     -65.272      16.194
Humidity (%) avg                 14.2033     37.146      0.382      0.703     -59.290      87.697
Humidity (%) low                  5.3595     10.313      0.520      0.604     -15.046      25.765
Sea Level Press. (hPa) high      28.0756     15.101      1.859      0.065      -1.802      57.954
Sea Level Press. (hPa) avg       -7.7059     24.331     -0.317      0.752     -55.845      40.433
Sea Level Press. (hPa) low        5.5919      7.644      0.732      0.466      -9.531      20.715
Visibility (km) high          -1471.1685   1085.080     -1.356      0.178   -3618.026     675.689
Visibility (km) avg            -169.3308     69.207     -2.447      0.016    -306.258     -32.403
Visibility (km) low              22.5412     76.612      0.294      0.769    -129.038     174.121
Wind (km/h) low                  21.6518     19.219      1.127      0.262     -16.374      59.678
Wind (km/h) avg                 -66.6947     45.176     -1.476      0.142    -156.077      22.688
Wind (km/h) high                  2.4182      3.553      0.681      0.497      -4.611       9.447
Precip. (mm) sum                  0.2444      0.957      0.255      0.799      -1.649       2.138
ProductCategory_OtherClothing   460.8642     81.004      5.689      0.000     300.595     621.133
ProductCategory_WomenClothing  2576.9025     80.876     31.863      0.000    2416.888    2736.917
==============================================================================
Omnibus:                       36.396   Durbin-Watson:                   2.195
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              110.690
Skew:                           0.895   Prob(JB):                     9.21e-25
Kurtosis:                       6.794   Cond. No.                     5.88e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.88e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [68]:
train.columns

Index(['Month', 'Sales(In ThousandDollars)', 'Temp high (°C)', 'Temp avg (°C)',
       'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)',
       'Dew Point low (°C)', 'Humidity (%) high', 'Humidity (%) avg',
       'Humidity (%) low', 'Sea Level Press. (hPa) high',
       'Sea Level Press. (hPa) avg', 'Sea Level Press. (hPa) low',
       'Visibility (km) high', 'Visibility (km) avg', 'Visibility (km) low',
       'Wind (km/h) low', 'Wind (km/h) avg', 'Wind (km/h) high',
       'Precip. (mm) sum', 'ProductCategory_OtherClothing',
       'ProductCategory_WomenClothing'],
      dtype='object')

In [69]:
tr=train.drop(['Temp high (°C)','Temp avg (°C)','Temp low (°C)','Dew Point high (°C)','Dew Point avg (°C)','Dew Point low (°C)','Humidity (%) high',
'Humidity (%) avg','Humidity (%) low', 'Sea Level Press. (hPa) high','Sea Level Press. (hPa) avg', 'Sea Level Press. (hPa) low',
'Visibility (km) high', 'Visibility (km) low','Wind (km/h) low', 'Wind (km/h) avg', 'Wind (km/h) high',
'Precip. (mm) sum'],axis=1)

In [70]:
te=test.drop(['Temp high (°C)','Temp avg (°C)','Temp low (°C)','Dew Point high (°C)','Dew Point avg (°C)','Dew Point low (°C)','Humidity (%) high',
'Humidity (%) avg','Humidity (%) low', 'Sea Level Press. (hPa) high','Sea Level Press. (hPa) avg', 'Sea Level Press. (hPa) low',
'Visibility (km) high', 'Visibility (km) low','Wind (km/h) low', 'Wind (km/h) avg', 'Wind (km/h) high',
'Precip. (mm) sum'],axis=1)

In [71]:
tr.shape

(216, 5)

In [72]:
te.shape

(36, 4)

In [73]:
X1=tr.drop('Sales(In ThousandDollars)',axis=1)
y1=tr['Sales(In ThousandDollars)']

In [74]:
xtrain,xtest,ytrain,ytest=train_test_split(X1,y1,test_size=0.3,random_state=1)

lm2=LinearRegression()

lm2.fit(xtrain,ytrain)

ypred1=lm2.predict(xtest)

mse1=mean_squared_error(ytest,ypred1)

rmse1=np.sqrt(mse1)

rmse1

459.1357301836115

In [75]:
#Test_pred1=lm2.predict(te)
#testdf1=pd.DataFrame({'S.No.':np.arange(1,37),'Sales':Test_pred1})

In [76]:
#testdf1.to_csv('bhanu1.csv',index=True)

# Decision Tree

In [76]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor(criterion='mse',random_state = 1,max_depth=3, min_samples_leaf=5)

dt.fit(Xtrain, ytrain)

y_pred_d =dt.predict(Xtest)

mse_d=mean_squared_error(ytest,y_pred_d)

rmse_d=np.sqrt(mse_d)

rmse_d

444.55309163190134

In [77]:
#Test_pred_d=dt.predict(test)
#testdf_d=pd.DataFrame({'S.No.':np.arange(1,37),'Sales':Test_pred_d})

In [79]:
#testdf_d.to_csv('bhanu.csv',index=True)

# Random Forest

In [78]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
RF = RandomForestRegressor(random_state=1)

In [88]:
param_grid = {'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': np.arange(1,101,10)}
RF_GSCV = GridSearchCV(RF,param_grid,cv=2)
RF_GSCV.fit(Xtrain,ytrain)
model = RF_GSCV.best_estimator_
model.fit(Xtrain,ytrain)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=20,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=91, n_jobs=None,
           oob_score=False, random_state=1, verbose=0, warm_start=False)

In [89]:
y_pred_r = model.predict(Xtest)
mse_r=mean_squared_error(ytest,y_pred_r)

rmse_r=np.sqrt(mse_r)

rmse_r

434.9641786713736

In [90]:
#Test_pred_r=model.predict(test)
#testdf_r=pd.DataFrame({'S.No.':np.arange(1,37),'Sales':Test_pred_r})

In [109]:
#testdf_r.to_csv('Bhanu1.csv',index=True)

# Adaboost

In [204]:
from sklearn.ensemble import AdaBoostRegressor
model=DecisionTreeRegressor()
Adaboost=AdaBoostRegressor(base_estimator=model,n_estimators=100,learning_rate=1)
model2=Adaboost.fit(Xtrain,ytrain)

In [205]:
y_pred_ad = Adaboost.predict(Xtest)

mse_ad=mean_squared_error(ytest,y_pred_ad)

rmse_ad=np.sqrt(mse_ad)

rmse_ad

457.2293819214899

In [206]:
#Test_pred_ad=Adaboost.predict(test)
#testdf_ad=pd.DataFrame({'S.No.':np.arange(1,37),'Sales':Test_pred_ad})

In [118]:
#testdf_ad.to_csv('bhanu3.csv',index=True)

# Extra Tree

In [85]:
from sklearn.ensemble import ExtraTreesRegressor

ec = ExtraTreesRegressor(criterion='mse',random_state = 1,max_depth=3, min_samples_leaf=5)

ec.fit(Xtrain, ytrain)

y_pred_ec =ec.predict(Xtest)

mse_ec=mean_squared_error(ytest,y_pred_ec)

rmse_ec=np.sqrt(mse_ec)

rmse_ec

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

422.60836450168244

In [86]:
#Test_pred_ec=ec.predict(test)
#testdf_ec=pd.DataFrame({'S.No.':np.arange(1,37),'Sales':Test_pred_ec})

In [127]:
#testdf_ec.to_csv('bhanu6.csv',index=True)

#Among above all the models, I got best RMSE for Adaboost in Hackathon